.container {
    :global {
        .StripeElement {
            display: block;
            padding: 0.09rem .14rem;
            font-family: 'Source Code Pro', monospace;
            background: white;
            border: 1px solid #cacaca;
            border-radius: 4px;
        }
    }
}
