@import '/public/style/mixin.scss';

.skeletonContainer {
    display: grid; /*网格布局*/
    grid-auto-flow: column; /*通过行或列的方式来依次填充*/
    grid-gap: 0.2rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center center;
}
.container {
    columns: 3;
    column-gap: 0.2rem;
    img {
        display: block;
    }
    video {
        display: block;
        width: 100%;
    }
}
.galleryContent {
    margin-bottom: 0.2rem;
    break-inside: avoid;
}
.item {
    position: relative;
    margin-bottom: 0.08rem;
    overflow: hidden;
    border-radius: 10px;
}
.postTitle {
    margin-bottom: 0.04rem;
    color: #000;
    font-weight: bold;
    font-size: 0.16rem;
    line-height: 0.28rem;
    @include ellipsis-lines(1);
}
.postDesc {
    color: #424242;
    font-size: 0.16rem;
    line-height: 0.2rem;
    @include ellipsis-lines(4);
}
.lock {
    img,
    video {
        filter: blur(4px);
    }
}
.lockBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 0.05rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 0.09rem;
    line-height: 0.2rem;
    text-align: center;
    border: 1px solid #dde8e8;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}
