.code {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.48rem;
    color: #605dec;
    padding: 0 0.2rem;
}
.codeItem {
    font-weight: bold;
    font-size: 0.48rem;
}
.text {
    color: #242424;
    line-height: 0.26rem;
}
