.container {
    position: relative;
    box-sizing: content-box;
    min-height: 0.4rem;
    padding: 0.24rem 0.36rem 0;
}
.leftIcon {
    position: absolute;
    top: 0.24rem;
    left: 0.36rem;
    .icon {
        font-size: 0.25rem;
    }
}
.rightIcon {
    position: absolute;
    top: 0.3rem;
    right: 0.36rem;
    .icon {
        font-size: 0.25rem;
    }
}
.title {
    font-weight: 600;
    line-height: 0.4rem;
    text-align: center;
}
