.container {
    margin-top: 0.18rem;
}
.modalHead {
    display: flex;
    align-items: center;
}
.avatar {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.12rem;
}
.modalName {
    color: #242424;
    font-weight: bold;
    font-size: 0.14rem;
    line-height: 0.2rem;
}
.modalDesc {
    color: #616161;
    font-size: 0.12rem;
    line-height: 0.16rem;
}
.content {
    height: 100%;
    padding: 0.3rem 0.36rem 0;
}
.title {
    margin-bottom: 0.04rem;
    color: #242424;
    font-weight: bold;
    line-height: 0.24rem;
}
.desc {
    margin-bottom: 0.2rem;
    color: #616161;
    font-size: 0.14rem;
    line-height: 0.17rem;
}
.label {
    margin-bottom: 0.04rem;
    color: #616161;
    font-size: 0.12rem;
    line-height: 0.16rem;
}
.btn {
    width: 1.96rem;
    height: 0.42rem;
}
.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: content-box;
    min-height: 0.44rem;
    padding: 0 0.36rem 0.22rem;
}
.backFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.12rem;
    div {
        font-size: 0.12rem;
        line-height: 0.12rem;
    }
    .icon {
        margin-right: 0.12rem;
    }
    .backBtn {
        cursor: pointer;
    }
}
.payFooter {
    flex-direction: row;
    justify-content: space-between;
}
.nextBtn {
    width: 1.7rem;
    height: 0.44rem;
    margin: 0;
    font-weight: bold;
    font-size: 0.14rem;
}
.tierInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    color: #242424;
    line-height: 0.24rem;
}
.tierTip {
    color: #616161;
    font-size: 0.12rem;
    line-height: 0.24rem;
}
.totalPrice {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0 0.4rem;
    padding-top: 0.12rem;
    color: #242424;
    font-weight: bold;
    line-height: 0.24rem;
    border-top: 1px solid #d1d1d1;
}
.memberShip {
    margin-top: 0.18rem;
}
.cardElement {
    margin-bottom: 0.18rem;
}
.successContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    padding: 0 0.49rem;
    text-align: center;
    .title {
        margin: 0.4rem 0 0.18rem;
        font-weight: 500;
        font-size: 0.24rem;
        line-height: 0.29rem;
    }
    .desc {
        color: #7e7e7e;
        font-weight: 500;
        line-height: 0.25rem;
        margin-bottom: 0.18rem;
    }
    .backLink {
        cursor: pointer;
        font-weight: bold;
        color: #605dec;
        line-height: 0.22rem;
    }
}
