.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.6rem;
    padding: 0 0.4rem;
}
.headLeft {
    display: flex;
    align-items: center;
    b {
        margin-left: 0.08rem;
        font-size: 0.16rem;
        line-height: 0.24rem;
    }
}
.headRight {
    font-size: 0.18rem;
    line-height: 0.24rem;
}
.main {
    --background: #fafafa;
}
