.container {
    margin-bottom: 0.1rem;
    padding: 0.2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px #2d2d2d0f;
}
.title {
    margin-bottom: 0.04rem;
    color: #242424;
    font-weight: bold;
    font-size: 0.14rem;
    line-height: 0.24rem;
}
.desc {
    margin-bottom: 0.18rem;
    color: #616161;
    font-weight: 500;
    font-size: 0.12rem;
    line-height: 0.15rem;
}
.operatContainer {
    display: flex;
    .inputContainer {
        width: calc(95% - 1.96rem);
    }
    .input {
        border-radius: 5px 0 0 5px;
    }
    .btn {
        width: 1.96rem;
        margin: 0;
        --border-radius: 0 5px 5px 0;
    }
}
