.container {
    position: relative;
    display: flex;
    margin-top: 20px;
}

// 中间content
.main {
    width: 66%;
    height: 1000px;
    background-color: #fff;
}
.banner {
    position: relative;
    margin-bottom: 90px;
    background-image: url('/img/homeBanner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .mask {
        height: 160px;
        background: linear-gradient(
            4.97deg,
            rgba(104, 104, 104, 0.8) -16.56%,
            rgba(0, 0, 0, 0) 95.87%
        );
    }
    .avatarContainer {
        position: absolute;
        top: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px 0 12px;
    }
    .avatar {
        width: 124px;
        height: 124px;
        border: 8px solid #fff;
    }
    .btn {
        width: 196px;
        height: 42px;
        font-weight: bold;
        font-size: 14px;
    }
}
.userInfo {
    padding: 0 20px;
    .nameContainer {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
    }
    .nickName {
        margin-right: 8px;
        font-weight: bold;
        font-size: 18px;
        font-style: normal;
        line-height: 18px;
    }
    .userName {
        color: #bdbdbd;
        font-size: 16px;
        line-height: 14px;
    }
    .follower {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
    }
    .bio {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }
}

// 右侧组件
.sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    width: 34%;
    height: 300px;
    margin-left: 20px;
    background-color: #fff;
}
