@import '/public/style/mixin.scss';

.container {
    display: flex;
    height: calc(100vh - 0.6rem);
    overflow: hidden;
    background-color: #fff;
}
.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
}
.preview {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.opreatContainer {
    display: flex;
    flex-direction: column;
    width: 4rem;
}
.user {
    display: flex;
    padding: 0.5rem 0.24rem;
    border-bottom: 1px solid #d1d1d1;
}
.avatar {
    flex-shrink: 0;
    width: 0.28rem;
    height: 0.28rem;
    margin-right: 0.14rem;
}
.info {
    display: flex;
    margin-bottom: 0.12rem;
    line-height: 0.16rem;
    .name {
        margin-right: 0.08rem;
        color: #000;
        font-weight: bold;
    }
    .date {
        color: #616161;
        font-size: 0.12rem;
    }
}
.title {
    margin-bottom: 0.04rem;
    color: #242424;
    font-weight: bold;
    font-size: 0.18rem;
    line-height: 0.28rem;
}
.desc {
    color: #424242;
    font-size: 0.18rem;
    line-height: 0.2rem;
    @include ellipsis-lines(2);
}
.commentContainer {
    flex: 1;
    overflow-y: scroll;
}
.commentTitle {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0.24rem;
    color: #000;
    font-weight: bold;
    font-size: 0.2rem;
    line-height: 0.16rem;
    background-color: #fff;
}
.commentItem {
    display: flex;
    padding: 0 0.24rem 0.24rem;
}
.itemInfo {
    margin-bottom: 0.18rem;
}
.commentDesc {
    color: #424242;
    font-size: 0.18rem;
    line-height: 0.2rem;
    word-wrap: break-all;
}
.operationBar {
    padding: 0.25rem 0;
    box-shadow: 0px -12px 10px rgba(30, 83, 133, 0.03);
}
.bar {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    color: #242424;
    font-size: 0.16rem;
    line-height: 0.2rem;
    .icon {
        margin: 0 0.08rem 0 0.25rem;
        font-size: 0.22rem;
        cursor: pointer;
    }
}
.inputContainer {
    position: relative;
    padding: 0 0.25rem;
    .input {
        height: 0.44rem;
        border: 1px solid #f2f2f2;
        border-radius: 35px;
        --padding-start: 0.16rem;
        --padding-end: 0.9rem;
    }
    .postBtn {
        position: absolute;
        top: 0.12rem;
        right: 0.5rem;
        z-index: 2;
    }
    .btn {
        cursor: pointer;
    }
}
