.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.6rem;
    padding: 0 0.4rem;
}
.headLeft {
    display: flex;
    align-items: center;
    b {
        margin-left: 0.08rem;
        font-size: 0.16rem;
        line-height: 0.24rem;
    }
}
.headRight {
    width: 1.13rem;
    color: #242424;
    border: 1px solid #CCCCCC;
    border-radius: 49px;
    --background: #fff !important;
    --background-hover: #fafafa;
    --background-activated: #fff;
}